@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@font-face {
    font-family: 'Switzer-Regular';
    src: url('FONT/WEB/fonts/Switzer-Regular.woff2') format('woff2'),
        url('FONT/WEB/fonts/Switzer-Regular.woff') format('woff'),
        url('FONT/WEB/fonts/Switzer-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Switzer-Regular', sans-serif;
    overflow-x: hidden;
}

video {
    width: 100%;
    max-width: 100%;
}

::selection {
    color: transparent;
    text-shadow: 0 0 var(--selection-shadow, 0px rgba(0, 0, 0, 0.5));
}

/* Styles pour le curseur personnalisé */
.custom-cursor {
    position: fixed;
    z-index: 9999;
    width: 30px;
    height: 30px;
    pointer-events: none;
    font-family: 'Switzer-Regular', sans-serif;
    font-size: 30px;
    font-weight: 300;
    /* Light */
    color: rgb(255, 0, 0);
    transform: translate(-50%, -35%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.custom-cursor.hover-link {
    font-size: 50px;

}

/* Cache le curseur par défaut */
body,
a,
img {
    cursor: none;
}


h1 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    /* light */
    font-style: italic;
    font-variation-settings:
        "SOFT"0,
        /* arrondis */
        "WONK"0;
    font-size: clamp(140px, 15vw, 250px);
    line-height: 0.75;
    /*cursor: default; */
}

h2 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    /* light */
    font-style: italic;
    font-variation-settings:
        "SOFT"0,
        /* arrondis */
        "WONK"0;
    font-size: clamp(38px, 4vw, 50px);
    line-height: 1.2;
    /*cursor: default;*/
}

h3 {
    font-family: 'Switzer-Regular', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Regular */
    font-size: clamp(10px, 2vw, 13px);
}

h4 {
    font-family: 'Switzer-Regular', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Regular */
    font-size: clamp(8px, 1vw, 12px);
}

figure h4 {
  font-weight: 400;
  font-size: clamp(8px, 1vw, 12px);
  margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    transition: 0.2s ease-in-out;
}

.highlight {
    color: red;
}

header.header {
    z-index: 50;
    display: flex;
    position: fixed;
    width: 100%;
    height: 74px;
    top: 0;
    flex-shrink: 0;
}

.progressive-blur {
    z-index: 10;
    pointer-events: none;
    background-image: none;
    flex-flow: column;
    height: 10em;
    position: fixed;
    inset: 0% 0% auto;
}

.blur-1 {
    pointer-events: none;
    z-index: 1;
    -webkit-backdrop-filter: blur(0.01px);
    backdrop-filter: blur(0.01px);
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0px;
    height: 100%;
    position: absolute;
    inset: 0px;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.blur-2 {
    pointer-events: none;
    z-index: 2;
    -webkit-backdrop-filter: blur(0.28125px);
    backdrop-filter: blur(0.28125px);
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0px;
    height: 100%;
    position: absolute;
    inset: 0px;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 87.5%);
}

.blur-3 {
    pointer-events: none;
    z-index: 3;
    -webkit-backdrop-filter: blur(0.5625px);
    backdrop-filter: blur(0.5625px);
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0px;
    height: 100%;
    position: absolute;
    inset: 0px;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgba(0, 0, 0, 0) 75%);
}

.blur-4 {
    pointer-events: none;
    z-index: 4;
    -webkit-backdrop-filter: blur(1.125px);
    backdrop-filter: blur(1.125px);
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0px;
    height: 100%;
    position: absolute;
    inset: 0px;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 62.5%);
}

.blur-5 {
    pointer-events: none;
    z-index: 5;
    -webkit-backdrop-filter: blur(2.25px);
    backdrop-filter: blur(2.25px);
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0px;
    height: 100%;
    position: absolute;
    inset: 0px;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 50%);
}

.blur-6 {
    pointer-events: none;
    z-index: 6;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0px;
    height: 100%;
    position: absolute;
    inset: 0px;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 37.5%);
}

.blur-7 {
    pointer-events: none;
    z-index: 7;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0px;
    height: 100%;
    position: absolute;
    inset: 0px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 25%);
}

.blur-8 {
    pointer-events: none;
    z-index: 8;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0px;
    height: 100%;
    position: absolute;
    inset: 0px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 12.5%);
}

nav {
    display: flex;
    list-style: none;
}

.home-link:active,
.bouton-contact:active {
    box-shadow: none;
}

nav.nav1 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: relative;
    /* Ajouté pour le centrage absolu */
}

nav.nav1 .bouton-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    height: clamp(10px, 2vw, 11px);
}

/* menu burger */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 30px;
    height: 15px;
    z-index: 11;
    margin: 2vw;
}

.burger-menu .bar {
    height: 1.5px;
    width: 30px;
    background-color: rgb(255, 0, 0);
}

.mobile-nav {
    display: none;
}

/* fin menu burger */

section.top-page {
    margin-top: 74px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
}

/* début code parallax */

.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    /* Assurez-vous que l'image de fond est derrière le texte */
    transform: translateZ(0);
    will-change: transform;
}

/* fin code parallax */



.top-project-solar,
.top-project-memoire,
.top-project-worth,
.top-project-habit,
.top-project-toh,
.top-project-gigantisme,
.top-project-villette,
.top-project-jeux,
.top-project-virgil,
.top-project-lama {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: calc(var(--vh, 1vh) * 100);
    /* début du code pour l'effet parallax */
    position: relative;
    overflow: hidden;
    /* fin du code pour l'effet parallax */
    background-color: rgb(220, 220, 220);
    background-size: cover;
    /* Ajuste la taille de l'image pour couvrir toute la section */
    background-position: center;
    /* Centre l'image */
    background-repeat: no-repeat;
    /* Évite la répétition de l'image */
}

.top-project-solar,
.top-project-memoire,
.top-project-villette,
.top-project-virgil,
.top-project-lama {
    color: white;
}

nav.nav2 {
    align-items: end;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.entertainement {
    flex-direction: column;
    width: 100%;
    /* début du code parallax */
    position: relative;
    z-index: 2;
    /* fin du code parallax */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.project-category {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-top: 3vw;
    gap: 10px;
    /* Espace entre les éléments à l'intérieur */
    width: 100%;
    max-width: 700px;
}

a:hover {
    color: red;
    transition: 0.2s ease-in-out;
    /*cursor: pointer;*/
}

.argumentation {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 50px;
  margin: 150px 25px;
}

.argumentation figure {
  width: 100%;
}

.argumentation figure img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

figure.col-4-7 {
  grid-column: 4 / 7; /* colonne de départ 3, fin à 5 (2 colonnes) */
}
figure.col-7-10 {
  grid-column: 7 / -1; /* colonne de départ 3, fin à 5 (2 colonnes) */
}

figure.col-2-10 {
  grid-column: 2 / 10;
}

.argumentation h3 {
    font-weight: 300;
    grid-column: span 3;
    margin-bottom: 80px;

}

.tryptique {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 50px;
    padding: 0 60px 150px;
}

.tryptique img {
    max-height: 200px;
    width: auto;
    height: auto;
    display: block;
}

.tryptique-cover {
    grid-column: span 2;
}

.big-visual {
    grid-column: 1/-1;
}

.focus {
    display: flex;
    margin: 25px;
    gap: 25px;
}

.focus-visual {
    width: 50%;
}

.focus-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-content: end;
}

.project-detail {
    grid-column: 2 / span 2;
    margin: 30vh 0px;
}

.close-up {
    grid-column: span 3;
}

.projets {
    background-color: white;
    margin-bottom: 120px;
}

.blank {
    display: flex;
    margin: 25px;
}

.download a {
    color: red;
}

.download a:hover {
    text-decoration: underline;
}

.villette {
    display: flex;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
}

.projets a {
    display: flex;
    width: 100%;
}

.projets h2 {
    line-height: 0.85;
}

.solar,
.memoire,
.performance,
.toh,
.habit,
.gigantisme,
.villette,
.vacances,
.virgil,
.lama {
    display: flex;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.description {
    display: flex;
    align-items: flex-end;
    width: 50%;
    margin: 25px;
    gap: 25px;
    flex-wrap: wrap;
}

.ajout-txt {
    display: none;
}

.aperçu {
    display: flex;
    height: 70px;
    width: 50%;
    margin: 25px;
    gap: 15px;
    align-self: center;
    justify-content: space-evenly;
}

.aperçu img {
    max-height: 70px;
    transition: opacity 0.2s ease-in-out;
    /* Fade out duration */
    opacity: 1;
}

.aperçu img.fade-out {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    /* Fade out duration */
}

.aperçu img.fade-in {
    opacity: 1;
    transition: opacity 4s ease-in-out;
    /* Fade in duration */
}

.footer {
    display: flex;
    height: 100vh;
    top: 0;
    flex-shrink: 0;
    /* border-top: 1px solid rgb(220, 220, 220); */
    background: linear-gradient(white, red);
    color: white;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: white;
    transition: 0.2s ease-in;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 25px 25px 25px;
    width: 100%;
}

.all-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.all-links a {
    color: red;
}

#current-time {
    font-family: 'Switzer-Regular', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Regular */
    font-size: clamp(10px, 2vw, 13px);
    color: red;
}

.clock {
    grid-column: span 3;
    color: red;
}

.links1 {
    flex-direction: column;
    grid-column: 4/5;
}

.links2 {
    flex-direction: column;
    grid-column: 2 5/6;
    color: red;
    line-height: 1.3;
}

.links3 {
    flex-direction: column;
    grid-column: 6/-1;
    align-items: flex-end;
}

.nav4 {
    margin: 25px 0px 0px 0px;
    justify-content: space-between;
}

.bottom-footer {
    display: flex;
    flex-direction: column;
}

.bottom-footer a:hover {
    text-decoration: underline;
}

.contact-link {
    display: flex;
    margin: 9vw 9vw 25px 9vw;
}

.contact-link h3 {
    width: 50vw;
    /*cursor: default;*/
    margin: 0px 25px 0px 0px;
}

.contact-link img {
    width: 40vw;
}






@media (max-width: 768px) {

    header.header {
        height: 60px;
    }

    .header:hover {
        background-color: rgba(255, 255, 255, 0);
    }

    nav.nav1 .bouton-logo {
        position: relative;
        left: 0%;
        transform: translateX(0%);
    }

    /* menu burger */
    .burger-menu {
        display: flex;
        position: relative;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        margin-top: 3.5vw;
        padding: 15px 30px;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        width: 50px;
        height: 40px;
        align-items: center;
        /* Centre verticalement les éléments enfants */
        justify-content: center;
        /* Centre horizontalement les éléments enfants */
    }

    .burger-menu .bar {
        height: 2px;
        width: 30px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        position: absolute;
        z-index: 1;
    }

    .burger-menu .bar:nth-child(1) {
        top: 30%;
        /* Positionne la première barre en haut */
    }

    .burger-menu .bar:nth-child(2) {
        bottom: 30%;
        /* Positionne la deuxième barre en bas */
    }

    nav.nav1 h3 {
        display: none;
    }

    nav.nav2 h3 {
        display: none;
    }

    .home-link {
        display: none;
    }

    .bouton-contact {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 0;
        z-index: 10;
        overflow: hidden;
        transition: height 0.6s ease, backdrop-filter 0.6s ease, background-color 0.6s ease;
    }

    .mobile-nav.active {
        height: calc(var(--vh, 1vh) * 100);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0);
    }


    .mobile-nav ul {
        list-style: none;
        width: 100%;
        text-align: center;
    }

    .mobile-nav ul li {
        margin: 20px 0;
    }

    .mobile-nav ul li a {
        color: rgba(0, 0, 0);
    }

    .mobile-nav ul li a:hover {
        color: rgb(255, 0, 0);
    }

    /* fin menu burger */

    .top-project-memoire .parallax-bg {
        background-position: 80% center;
        /* Ajustement à droite */
    }

    .top-project-solar .parallax-bg {
        background-position: 90% center;
        /* Ajustement à droite */
    }

    .top-project-villette .parallax-bg {
        background-position: 78% center;
        /* Ajustement à droite */
    }

    .top-project-virgil .parallax-bg {
        background-position: 30% center;
        /* Ajustement à droite */
    }

    .top-project-lama .parallax-bg {
        background-position: 64% center;
        /* Ajustement à droite */
    }

    .entertainement {
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 4vw;
    }

    .argumentation {
        gap: 2vw;
        margin: 25px;
    }

    .tryptique,
    .tryptique-condensed {
        gap: 2vw;
        padding: 0px 2vw 2vw 2vw;
    }

    .description {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .ajout-txt {
        display: contents;
    }

    .project-detail {
        grid-column: 2 / span 4;
    }

    .focus {
        margin: 2vw;
        gap: 2vw;
    }

    .container {
        margin: 80px 2vw 2vw 2vw;
    }

    .links1 {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .links2 {
        grid-column: 4/-1;
        align-items: flex-end;
    }

    .links3 {
        grid-column: 4/-1;
        grid-row: 2/3;
    }

    .all-links {
        gap: 4vw;
    }

    .contact-link {
        flex-direction: column;
        margin: 9vw 9vw 25vw 9vw;
        gap: 4vw;
    }

    .contact-link h3 {
        width: 100%;
        margin: 0px 2vw 0px 0px;
    }

    .contact-link img {
        width: 100%;
    }


}





@media (max-width: 480px) {

    .custom-cursor {
        display: none;
    }

    header.header {
        height: 65px;
    }

    nav.nav1 {
        padding: 3vw;
    }

    .home-link {
        display: none;
    }

    .burger-menu {
        margin-right: 3.5vw;
    }

    nav.nav2 {
        padding-left: 3.5vw;
        padding-right: 3.5vw;
        padding-bottom: 3.5vw;
    }

    .nav4 {
        margin: 3.5vw 0px 0px 0px;
    }

    .top-project-memoire .parallax-bg {
        background-position: 65% center;
        /* Ajustement à droite */
    }

    .top-project-toh .parallax-bg {
        background-position: 50% center;
        /* Ajustement à droite */
    }

    .top-project-virgil .parallax-bg {
        background-position: 15% center;
        /* Ajustement à droite */
    }

    .top-project-lama .parallax-bg {
        background-position: 66% center;
        /* Ajustement à droite */
    }

    .entertainement {
        padding-left: 3.5vw;
        padding-right: 3.5vw;
        padding-bottom: 3.5vw;
    }

    .description {
        flex-direction: column;
        align-items: flex-start;
        margin: 0vw 0vw 3.5vw 0vw;
        gap: 3.5vw;
        width: 100%;
    }

    .ajout-txt {
        display: contents;
    }

    .delete-txt {
        display: none;
    }

    .aperçu {
        justify-content: space-between;
        width: 100%;
        height: 90px;
    }

    .aperçu img {
        max-height: none;
        width: 90px;
    }

    .solar a,
    .memoire a,
    .performance a,
    .habit a,
    .toh a,
    .gigantisme a,
    .villette a,
    .vacances a,
    .virgil a,
    .lama a {
        flex-direction: column;
        margin: 3.5vw;
    }

    .argumentation {
        gap: 3.5vw;
        margin: 10vw 3.5vw 10vw 3.5vw;
        flex-direction: column;
    }

    .tryptique,
    .tryptique-condensed {
        gap: 3.5vw;
        padding: 0px 3.5vw 3.5vw 3.5vw;
    }

    .tryptique-cover {
        grid-column: span 6;
    }

    .close-up {
        grid-column: 1/-1;
    }

    .focus {
        flex-direction: column;
        margin: 3.5vw;
        gap: 3.5vw;
    }

    .focus-visual {
        width: 100%;
    }

    .focus-text {
        gap: 10vw;
        width: 100%;
    }

    .blank {
        margin: 3.5vw;
    }

    .container {
        margin: 80px 3.5vw 3.5vw 3.5vw;
    }

    .contact-link h3 {
        margin: 0px 3.5vw 0px 0px;
    }

    .links1,
    .links3 {
        grid-column: 1/-1;
        grid-row: 2/3;
        margin: 10vw 0vw 10vw 0vw;
    }

    .links2 {
        align-items: flex-start;
        grid-column: 1/-1;
        grid-row: 3/4;
    }


}